html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}

body {
	font-family: 'Open Sans',sans-serif;
	background: #eee;
	/*font-family: 'Montserrat', sans-serif;*/
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

div, img {
	/*border: 1px solid red;*/
}

.home-bg {
	background-image:url('https://discordapp.com/assets/4a809f62d13fa606d0f86935e9a5e734.png');	
}

.animated-box {
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 4px;
	background: yellow;
}
